@import "tailwindcss";

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ArchivoBlack";
  src: url("/fonts/ArchivoBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-body: "Helvetica", sans-serif;
  --font-header: "ArchivoBlack", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #0a0a0a;
  font-family: var(--font-body);
}
