@import "tailwindcss";

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ArchivoBlack";
  src: url("/fonts/ArchivoBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --background: #009af4;
  --foreground: #171717;
  --font-body: "Helvetica", sans-serif;
  --font-header: "ArchivoBlack", sans-serif;
}

body {
  background: var(--background);
  color: #0a0a0a;
  font-family: var(--font-body);
  position: relative;
}

/* body::before {
  content: "";
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-80%, -32%) rotate(-17deg);
  width: 1100px;
  height: 1100px;
  background-image: url("/tomato2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
}

body::after {
  content: "";
  position: fixed;
  top: 65%;
  right: -30%;
  transform: translateY(-50%) scaleX(-1) rotate(-12deg);
  width: 1300px;
  height: 1300px;
  background-image: url("/tomato2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
} */

.tomato-wrapper {
  transform: translate(-50%, -50%) scale(var(--t-scale));
  transform-origin: center center;
  will-change: transform;
  object-position: center center;
  object-fit: contain;
}
