@import "tailwindcss";

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ArchivoBlack";
  src: url("/fonts/ArchivoBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --background: #009af4;
  --foreground: #171717;
  --font-body: "Helvetica", sans-serif;
  --font-header: "ArchivoBlack", sans-serif;
}

body {
  background: var(--background);
  color: #0a0a0a;
  font-family: var(--font-body);
  position: relative;
}

/* body::before {
  content: "";
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-80%, -32%) rotate(-17deg);
  width: 1100px;
  height: 1100px;
  background-image: url("/tomato2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
}

body::after {
  content: "";
  position: fixed;
  top: 65%;
  right: -30%;
  transform: translateY(-50%) scaleX(-1) rotate(-12deg);
  width: 1300px;
  height: 1300px;
  background-image: url("/tomato2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
} */

@keyframes wobble {
  0% { transform: translate(0) rotate(var(--rotate)); }
  25% { transform: translate(-2px, -2px) rotate(calc(var(--rotate) - 1deg)); }
  50% { transform: translate(2px, 1px) rotate(calc(var(--rotate) + 1deg)); }
  75% { transform: translate(-1px, 2px) rotate(calc(var(--rotate) - 1deg)); }
  100% { transform: translate(0) rotate(var(--rotate)); }
}

.group:hover .animate-wobble {
  animation: wobble 0.25s ease-in-out;
}

@keyframes spin-linear {
  0%   { transform: rotate(calc(var(--rotate) + 0deg)); }
  100% { transform: rotate(calc(var(--rotate) + 360deg)); }
}

.group:hover .hover-linear-rotate {
  animation: spin-linear 2s linear infinite;
}

.hover-scale {
  transform: rotate(var(--rotate));
  transition: transform 0.25s ease;
}

.hover-scale:hover {
  transform: scale(1.06) rotate(calc(var(--rotate) + 8deg));
}
